<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update User</title>
</head>

<body>
    <%= JSON.stringify(userEdit)%>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create">Create Users</a>

        </div>
        <div class="form_add_new">
            <form action="/create_user" method="post">
                <fieldset>
                    <legend>Update A User</legend>

                    <div class="input_group">
                        <label>email: </label>
                        <input type="text" name="email" value="<%= userEdit.email %>">
                    </div>

                    <div class="input_group">
                        <label>name: </label>
                        <input type="text" name="myName" value="<%= userEdit.name %>">
                    </div>

                    <div class="input_group">
                        <label>city: </label>
                        <input type="text" name="city" value="<%= userEdit.city %>">
                    </div>
                    <div>
                        <button>SAVE</button>
                    </div>
                </fieldset>
            </form>
        </div>
</body>

</html>